:root {
    --dark: #31343D;
    --green: #92CCCD;
    --grey: #EDEDF6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #92CCCD;
    background-color: #EDEDF6;
}

h2 {
    font-size: 30px;
    margin: auto 10px;
}

/* Header Styles */
header {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 15px 10px 15px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header div h1 a {
    text-decoration: none;
    color: #31343D;
    background: #92CCCD;
    width: 200px;
    height: 45px;
    margin: -1px 0 0 -1px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav a {
    text-decoration: none;
    color: #92CCCD;
    padding: 0 15px;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: x-large;
    position: relative;
}

header nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--green);
    transition: width 0.3s ease 0s, left 0.3s ease 0s; 
    width: 0;
}

header nav ul li a:hover:after {
    width: 100%;
    left: 0;
}
/* End Header Styles */

/* Hero Styles */
.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 250px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    color: #92CCCD;
    margin: auto 10px;
}
/* End Hero Styles */

/* Class Styles */
.flex-container {
    display: flex;
}

.flex-left {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    border-right: 3px solid;
    margin: 10px 10px;
}

.flex-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px 10px;
}

.work-subtitle {
    font-size: medium;
}

section h2 {
    color: #31343D;
}
/* End Class Styles */

/* About Me Styles */

/* End About Me Styles */

/* Work Styles */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 1260px;
    margin: 0;
}

.portfolio h3 {
    color: #31343D;
    background: #92CCCD;
    width: 200px;
    height: 45px;
    margin: -1px 0 0 -1px;
}

.surf-report {
    display: flex;
    width: 100%;
    height: 600px;
    margin: 10px;
    border: #92CCCD 5px solid;
}

.surf-report h3 {
    margin: -600 0 0 2px;
    background-color: var(--green);
}

.work-sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 620px;
    justify-content: space-evenly;
}

.work-sections article {
    display: flex;
    width: 38vw;
    height: 300px;
    border: #92CCCD 5px solid;
}

.work-sections img {
    height: 100%;
    width: fit-content;
}
/* End Work Styles */

/* Footer Styles */
footer {
    background-color: #31343D;
    padding: 15px 0;
}

footer div ul li a {
    margin: 20px 60px 20px 60px;
    color: var(--green)
}

footer div ul li a:hover {
    color: var(--grey)
}

footer div ul li {
    display: inline;
    border-left: 1px solid;
}

footer div ul li:first-child {
    border-left: none;
}
/* End Footer Styles */