:root {
    --dark: #31343D;
    --green: #92CCCD;
    --grey: #EDEDF6;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #92CCCD;
    background-color: #EDEDF6;
}

/* Header Styles */
header {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 15px 10px 15px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 a {
    font-size: 40px;
    color: var(--dark);
    padding: 5px 20px 5px 60px;
    background: #92CCCD;
    margin: 0 0 0 -60px;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav a {
    color: #92CCCD;
    padding: 0 7px;
}

header nav ul li a {
    margin: 0 10px;
    font-weight: lighter;
    font-size: 32px;
    position: relative;
}

header nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--green);
    transition: width 0.3s ease 0s, left 0.3s ease 0s; 
    width: 0;
}

header nav ul li a:hover:after {
    width: 100%;
    left: 0;
}
/* End Header Styles */

/* Hero Styles */
.hero {
    display: flex;
    background-image: url(../images/hero-bg.jpg);
    height: 250px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    justify-content: space-between;
}

.hero img {
    width: 250px;
    height: 250px;
    border-radius: 0 0 50% 0;
}

.hero h2 {
    font-size: 46px;
    font-style: italic;
    color: var(--green);
    margin: 170px 40px 0 0;
}


/* End Hero Styles */

/* Class Styles */
.flex-container {
    display: flex;
}

.flex-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px 0 0;
    width: 20%;
    border-right: 3px solid;
    margin: 10px 10px 10px 0;
}

.flex-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px 10px;
}

section h2 {
    color: #31343D;
    font-size: 36px;
}
/* End Class Styles */

/* About Me Styles */
.about-para p {
    font-size: 24px;
}
/* End About Me Styles */

/* Work Styles */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 1260px;
    margin: 0 -5px;
}

.portfolio h3 {
    color: #31343D;
    font-size: 30px;
    background: #92CCCD;
    width: 300px;
    height: 100px;
    padding: 10px 0 0 10px;
    margin: 0 0 0 -1px;
}

.work-subtitle {
    font-size: 24px;
    padding: 5px 0;
}

.surf-report {
    background-image: url(../images/dog-dossier.JPG);
    background-size: cover;
    background-position: top;
    width: 97.5%;
    height: 600px;
    border: #92CCCD 5px solid;
}

.surf-report img {
    width: 100%;
    height: auto;
}

.surf-report h3 {
    margin: -600 0 0 2px;
    background-color: var(--green);
    width: 400px;
}

.work-sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 620px;
    justify-content: space-evenly;
}

.work-sections article {
    width: 38vw;
    height: 300px;
    border: #92CCCD 5px solid;
}

.led-wall {
    background-image: url(../images/LocalGrub.JPG);
    background-size: cover;
    background-position: center;
}

.calculator {
    background-image: url(../images/calculator.jpg);
    background-size: cover;
    background-position: center;
}

.pastel-puzzle {
    background-image: url(../images/mern.jpg);
    background-size: cover;
    background-position: center;
}

.run-buddy {
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    background-position: center;
}

.surf-report a, .led-wall a, .calculator a, .run-buddy a, .pastel-puzzle a {
    display: block;
    height: 100%;
    width: 100%;
    transition: all .2s ease-in-out;
}

.surf-report a:hover, .led-wall a:hover, .calculator a:hover, .run-buddy a:hover, .pastel-puzzle a:hover {
    background-color: rgba(146, 204, 205, 0.4);
    transform: scale(1.03);
}

.surf-report a:focus, .led-wall a:focus, .calculator a:focus, .run-buddy a:focus, .pastel-puzzle a:focus {
    background-color: rgba(146, 204, 205, 0.4);
    transform: scale(1);
}

/* End Work Styles */

/* Footer Styles */
footer {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom right;
    padding: 15px 0;
}

footer div ul li a {
    text-decoration: none;
    margin: 20px 60px;
    color: var(--green);
    padding: 0 5px;
    position: relative;
}

footer div ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: var(--green);
    transition: width 0.3s ease 0s, left 0.3s ease 0s; 
    width: 0;
}

footer div ul li a:hover:after {
    width: 100%;
    left: 0;
}

footer div ul li {
    display: inline;
    border-left: 1px solid;
}

footer div ul li:first-child {
    border-left: none;
}
/* End Footer Styles */

/* Media Query */
@media screen and (max-width: 980px) {
    .flex-left h2 {
        text-align: right;
        margin: auto 10px;
        padding: 0;
    }

    .flex-right {
        margin: auto 15px;
    }

    .portfolio {
        display: block;
        width: 80vw;
        height: 1890px;
        margin: 10px;
    }

    .portfolio h3 {
        color: #31343D;
        font-size: 30px;
        background: rgba(146, 204, 205, 0.7);
        width: 300px;
        height: 100px;
        padding: 5px;
        margin: -1px 0 0 -1px;
    }
    
    .surf-report {
        margin: 0 auto 10px auto;
    }

    .work-sections {
        margin: 0 auto;
    }

    .work-sections article {
        width: 100%;
        margin: 10px;
    }

    footer div ul li a {
        margin: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    header a {
        padding: 0;
        margin: 0;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 24px;
    }

    .hero h2 {
        margin: 130px 30px 0 60px;
        text-align: right;
    }

    footer div {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    header a {
        padding: 0;
        margin: 0;
    }

    header nav ul li a {
        font-size: 24px;
    }

    .hero h2 {
        margin-top: auto;
    }

    .surf-report h3 {
        width: 100%;
    }

    .work-sections h3 {
        width: 100%;
    }
}